# Anaylizing NBA Game stats 2014-2019

In [126]:
import sqlite3 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np 
from scipy import stats # significance levels, normality
import itertools

plt.style.use('ggplot')
import warnings
warnings.filterwarnings('ignore') # hide matplotlib warnings

import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison

In [127]:
game_detail_df = pd.read_csv('Datasets/games_details.csv')
games_df = pd.read_csv('Datasets/games.csv')
players_df = pd.read_csv('Datasets/players.csv')
ranking_df = pd.read_csv('Datasets/ranking.csv')
teams_df = pd.read_csv('Datasets/teams.csv')

# EDA on our Data

### Inspecting game_detail_df

In [128]:
game_detail_df.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,40800405,1610612747,LAL,Los Angeles,2772,Trevor Ariza,F,NaN,41:29,5.0,...,1.0,4.0,5.0,1.0,2.0,0.0,3.0,3.0,15.0,12.0
1,40800405,1610612747,LAL,Los Angeles,2200,Pau Gasol,F,NaN,42:09,6.0,...,4.0,11.0,15.0,3.0,0.0,4.0,1.0,2.0,14.0,15.0
2,40800405,1610612747,LAL,Los Angeles,101115,Andrew Bynum,C,NaN,16:54,3.0,...,4.0,1.0,5.0,0.0,1.0,0.0,1.0,5.0,6.0,-6.0
3,40800405,1610612747,LAL,Los Angeles,977,Kobe Bryant,G,NaN,43:18,10.0,...,0.0,6.0,6.0,5.0,2.0,4.0,1.0,2.0,30.0,14.0
4,40800405,1610612747,LAL,Los Angeles,965,Derek Fisher,G,NaN,31:59,4.0,...,0.0,4.0,4.0,2.0,0.0,0.0,1.0,4.0,13.0,16.0

In [129]:
game_detail_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561733 entries, 0 to 561732
Data columns (total 28 columns):
GAME_ID              561733 non-null int64
TEAM_ID              561733 non-null int64
TEAM_ABBREVIATION    561733 non-null object
TEAM_CITY            561733 non-null object
PLAYER_ID            561733 non-null int64
PLAYER_NAME          561733 non-null object
START_POSITION       215354 non-null object
COMMENT              89924 non-null object
MIN                  471808 non-null object
FGM                  471808 non-null float64
FGA                  471808 non-null float64
FG_PCT               471808 non-null float64
FG3M                 471808 non-null float64
FG3A                 471808 non-null float64
FG3_PCT              471808 non-null float64
FTM                  471808 non-null float64
FTA                  471808 non-null float64
FT_PCT               471808 non-null float64
OREB                 471808 non-null float64
DREB                 471808 non-null float64
REB                  471808 non-null float64
AST                  471808 non-null float64
STL                  471808 non-null float64
BLK                  471808 non-null float64
TO                   471808 non-null float64
PF                   471808 non-null float64
PTS                  471808 non-null float64
PLUS_MINUS           448147 non-null float64
dtypes: float64(19), int64(3), object(6)
memory usage: 120.0+ MB

Removing unnecessary Columns from our game_detail_df

In [130]:
game_detail_df.drop(columns=['COMMENT', 'PLUS_MINUS', 'START_POSITION', 'TEAM_CITY'], inplace=True)

In [131]:
game_detail_df.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_ID,PLAYER_NAME,MIN,FGM,FGA,FG_PCT,FG3M,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS
0,40800405,1610612747,LAL,2772,Trevor Ariza,41:29,5.0,12.0,0.417,2.0,...,0.5,1.0,4.0,5.0,1.0,2.0,0.0,3.0,3.0,15.0
1,40800405,1610612747,LAL,2200,Pau Gasol,42:09,6.0,9.0,0.667,0.0,...,0.5,4.0,11.0,15.0,3.0,0.0,4.0,1.0,2.0,14.0
2,40800405,1610612747,LAL,101115,Andrew Bynum,16:54,3.0,11.0,0.273,0.0,...,0.0,4.0,1.0,5.0,0.0,1.0,0.0,1.0,5.0,6.0
3,40800405,1610612747,LAL,977,Kobe Bryant,43:18,10.0,23.0,0.435,2.0,...,1.0,0.0,6.0,6.0,5.0,2.0,4.0,1.0,2.0,30.0
4,40800405,1610612747,LAL,965,Derek Fisher,31:59,4.0,7.0,0.571,1.0,...,1.0,0.0,4.0,4.0,2.0,0.0,0.0,1.0,4.0,13.0

In [132]:
# Create a new Column called DF_SCORE based on
game_detail_df["DF_SCORE"] = round((game_detail_df.PTS + game_detail_df.FG3M *0.5 + game_detail_df.REB *1.25 + game_detail_df.AST * 1.5 + game_detail_df.STL *2 + game_detail_df.BLK *2 - game_detail_df.TO * 0.5),2)

In [133]:
game_detail_df.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_ID,PLAYER_NAME,MIN,FGM,FGA,FG_PCT,FG3M,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,DF_SCORE
0,40800405,1610612747,LAL,2772,Trevor Ariza,41:29,5.0,12.0,0.417,2.0,...,1.0,4.0,5.0,1.0,2.0,0.0,3.0,3.0,15.0,26.25
1,40800405,1610612747,LAL,2200,Pau Gasol,42:09,6.0,9.0,0.667,0.0,...,4.0,11.0,15.0,3.0,0.0,4.0,1.0,2.0,14.0,44.75
2,40800405,1610612747,LAL,101115,Andrew Bynum,16:54,3.0,11.0,0.273,0.0,...,4.0,1.0,5.0,0.0,1.0,0.0,1.0,5.0,6.0,13.75
3,40800405,1610612747,LAL,977,Kobe Bryant,43:18,10.0,23.0,0.435,2.0,...,0.0,6.0,6.0,5.0,2.0,4.0,1.0,2.0,30.0,57.50
4,40800405,1610612747,LAL,965,Derek Fisher,31:59,4.0,7.0,0.571,1.0,...,0.0,4.0,4.0,2.0,0.0,0.0,1.0,4.0,13.0,21.00

In [134]:
game_detail_df.dropna(axis='rows', inplace=True)

In [135]:
game_detail_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 471808 entries, 0 to 561732
Data columns (total 25 columns):
GAME_ID              471808 non-null int64
TEAM_ID              471808 non-null int64
TEAM_ABBREVIATION    471808 non-null object
PLAYER_ID            471808 non-null int64
PLAYER_NAME          471808 non-null object
MIN                  471808 non-null object
FGM                  471808 non-null float64
FGA                  471808 non-null float64
FG_PCT               471808 non-null float64
FG3M                 471808 non-null float64
FG3A                 471808 non-null float64
FG3_PCT              471808 non-null float64
FTM                  471808 non-null float64
FTA                  471808 non-null float64
FT_PCT               471808 non-null float64
OREB                 471808 non-null float64
DREB                 471808 non-null float64
REB                  471808 non-null float64
AST                  471808 non-null float64
STL                  471808 non-null float64
BLK                  471808 non-null float64
TO                   471808 non-null float64
PF                   471808 non-null float64
PTS                  471808 non-null float64
DF_SCORE             471808 non-null float64
dtypes: float64(19), int64(3), object(3)
memory usage: 93.6+ MB

In [120]:
#cleaning our column for our join and then Hypothesis
game_player_detail = game_detail_df[['GAME_ID', 'TEAM_ID', 'PLAYER_ID', 'PLAYER_NAME', 'DF_SCORE']]
game_player_detail

         GAME_ID     TEAM_ID  PLAYER_ID        PLAYER_NAME  DF_SCORE
0       40800405  1610612747       2772       Trevor Ariza     26.25
1       40800405  1610612747       2200          Pau Gasol     44.75
2       40800405  1610612747     101115       Andrew Bynum     13.75
3       40800405  1610612747        977        Kobe Bryant     57.50
4       40800405  1610612747        965       Derek Fisher     21.00
5       40800405  1610612747       1885         Lamar Odom     31.50
6       40800405  1610612747       2575        Luke Walton      6.00
7       40800405  1610612747     200770      Jordan Farmar      3.50
8       40800405  1610612747       2756      Sasha Vujacic      0.00
12      40800405  1610612753       2045      Hedo Turkoglu     20.50
13      40800405  1610612753       1740      Rashard Lewis     39.00
14      40800405  1610612753       2730      Dwight Howard     31.50
15      40800405  1610612753     201584       Courtney Lee     20.50
16      40800405  1610612753       1747       Rafer Alston     25.75
17      40800405  1610612753       2554    Mickael Pietrus      5.25
18      40800405  1610612753       2749      Jameer Nelson     13.50
19      40800405  1610612753       1499        Tony Battie      4.00
20      40800405  1610612753     101162      Marcin Gortat      4.00
21      40800405  1610612753     200755          JJ Redick     13.00
24      40800404  1610612747       2772       Trevor Ariza     35.25
25      40800404  1610612747       2200          Pau Gasol     31.50
26      40800404  1610612747     101115       Andrew Bynum      8.50
27      40800404  1610612747        977        Kobe Bryant     56.25
28      40800404  1610612747        965       Derek Fisher     23.50
29      40800404  1610612747       1885         Lamar Odom     19.25
30      40800404  1610612747       2788          DJ Mbenga      2.00
31      40800404  1610612747     200770      Jordan Farmar      2.00
32      40800404  1610612747       2575        Luke Walton      8.50
33      40800404  1610612747       2694        Josh Powell      2.50
34      40800404  1610612747       2756      Sasha Vujacic      1.50
...          ...         ...        ...                ...       ...
561703  11200009  1610612744     101127       Jarrett Jack     16.50
561704  11200009  1610612744     202719       Jeremy Tyler     10.50
561705  11200009  1610612744     203145      Kent Bazemore      6.00
561706  11200009  1610612744     202691      Klay Thompson     31.25
561707  11200009  1610612744     203164   Lance Goulbourne      2.75
561708  11200009  1610612744       2210  Richard Jefferson     21.25
561709  11200009  1610612744     200814     Tarence Kinsey      4.00
561710  11200005  1610612746     201933      Blake Griffin     19.25
561711  11200005  1610612746       2406       Caron Butler     18.50
561712  11200005  1610612746     201599     DeAndre Jordan     26.50
561713  11200005  1610612746     202339       Eric Bledsoe     51.50
561714  11200005  1610612746     203180        Hank Thorns      4.75
561715  11200005  1610612746       2037     Jamal Crawford     27.00
561716  11200005  1610612746       1885         Lamar Odom      8.75
561717  11200005  1610612746       2440        Matt Barnes     34.75
561718  11200005  1610612746     101142       Ronny Turiaf      6.50
561719  11200005  1610612746     200797       Ryan Hollins     14.25
561720  11200005  1610612746       2584       Willie Green      9.75
561721  11200005  1610612743       2738     Andre Iguodala     22.75
561722  11200005  1610612743       1853     Anthony Carter     15.75
561723  11200005  1610612743     201576   Anthony Randolph     22.75
561724  11200005  1610612743     201147       Corey Brewer     21.25
561725  11200005  1610612743     201568   Danilo Gallinari     28.50
561726  11200005  1610612743     203095      Evan Fournier      2.50
561727  11200005  1610612743     201580       JaVale McGee      6.00
561728  11200005  1610612743     202706    Jordan Hamilton     24.50
561729  11200005  1610612743     202702     Kenneth Faried     21.25
561730  11200005  1610612743     201585       Kosta Koufos     18.00
561731  11200005  1610612743     202389     Timofey Mozgov      5.25
561732  11200005  1610612743     201951          Ty Lawson     20.50

[471808 rows x 5 columns]

### Inspecting game_df

In [110]:
games_df.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2014-06-15,41300405,Final,1610612759,1610612748,2013,1610612759,104.0,0.474,0.783,...,25.0,40.0,1610612748,87.0,0.400,0.741,0.280,14.0,41.0,1
1,2014-06-12,41300404,Final,1610612748,1610612759,2013,1610612748,86.0,0.451,0.650,...,13.0,27.0,1610612759,107.0,0.571,0.720,0.429,25.0,44.0,0
2,2014-06-10,41300403,Final,1610612748,1610612759,2013,1610612748,92.0,0.516,0.750,...,17.0,26.0,1610612759,111.0,0.594,0.813,0.450,21.0,29.0,0
3,2014-06-08,41300402,Final,1610612759,1610612748,2013,1610612759,96.0,0.439,0.600,...,26.0,37.0,1610612748,98.0,0.529,0.762,0.421,16.0,38.0,0
4,2014-06-05,41300401,Final,1610612759,1610612748,2013,1610612759,110.0,0.588,0.773,...,30.0,39.0,1610612748,95.0,0.474,0.818,0.414,16.0,29.0,1

In [111]:
games_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22594 entries, 0 to 22593
Data columns (total 21 columns):
GAME_DATE_EST       22594 non-null object
GAME_ID             22594 non-null int64
GAME_STATUS_TEXT    22594 non-null object
HOME_TEAM_ID        22594 non-null int64
VISITOR_TEAM_ID     22594 non-null int64
SEASON              22594 non-null int64
TEAM_ID_home        22594 non-null int64
PTS_home            22495 non-null float64
FG_PCT_home         22495 non-null float64
FT_PCT_home         22495 non-null float64
FG3_PCT_home        22495 non-null float64
AST_home            22495 non-null float64
REB_home            22495 non-null float64
TEAM_ID_away        22594 non-null int64
PTS_away            22495 non-null float64
FG_PCT_away         22495 non-null float64
FT_PCT_away         22495 non-null float64
FG3_PCT_away        22495 non-null float64
AST_away            22495 non-null float64
REB_away            22495 non-null float64
HOME_TEAM_WINS      22594 non-null int64
dtypes: float64(12), int64(7), object(2)
memory usage: 3.6+ MB

In [122]:
# We are taking these specific columns, we will use them in order to test our first Hypothesis
game_hometeam_df = games_df[['GAME_ID','GAME_DATE_EST', 'HOME_TEAM_ID', 'HOME_TEAM_WINS']]
game_hometeam_df.head()

    GAME_ID GAME_DATE_EST  HOME_TEAM_ID  HOME_TEAM_WINS
0  41300405    2014-06-15    1610612759               1
1  41300404    2014-06-12    1610612748               0
2  41300403    2014-06-10    1610612748               0
3  41300402    2014-06-08    1610612759               0
4  41300401    2014-06-05    1610612759               1

In [93]:
# games_df.drop(columns=['GAME_STATUS_TEXT'], inplace=True)

In [94]:
# games_df.dropna(axis='rows', inplace=True)

In [125]:
#join both game_hometeam_df and game_player_detail
df2 = pd.merge(game_player_detail, game_hometeam_df, on='GAME_ID')
df2.HOME_TEAM_WINS.value_counts()

1    283221
0    188607
Name: HOME_TEAM_WINS, dtype: int64

### Hypothesis1: Is there a significant difference in player performance when playing Home vs Away